[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
celery = "*"
pandas-datareader = "*"
beautifulsoup4 = "*"
iexfinance = "*"
xlrd = "*"
flask = "*"

[dev-packages]
pbr = "*"

[requires]
python_version = "3.7"
